.customer-stories-main-container {
  .section-header {
    font-family: 'Belleza';
    font-size: 30px;
    color: #1e1e1e;
    margin-bottom: 28px;
  }
  .zoom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }

  table:nth-child(1) {
    margin-top: 30px;
  }
  .customer-stories-container {
    padding: 16px 40px 16px 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #e0e0e0;
    margin-bottom: 60px;
    max-width: 49%;
  }
  .customer-stories-section {
    margin: 0px 108px;
  }
  .customer-img-wrapper {
    width: 50%;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    img {
      object-fit: fill;
    }
  }
  .customer-stories-text {
    width: 70%;
    /* padding: 24px 0px 0px 24px; */
  }
  .story-content {
    font-size: 16px;
    font-weight: normal;
    color: #1e1e1e;
  }
  .story-writer {
    font-size: 20px;
    font-family: 'Belleza';
    color: #1e1e1e;
  }
  .writer-place {
    font-size: 14px;
    color: #757575;
  }
  .right-scroll {
    top: 35%;
    right: -6%;
    cursor: pointer;
  }
  .left-scroll {
    top: 35%;
    left: -6%;
    cursor: pointer;
  }
}

@media screen and (max-width: 1181px) {
  .customer-stories-main-container {
    .left-scroll {
      left: -5%;
    }
    .right-scroll {
      right: -5%;
    }
    .main-container {
      margin: 0px 60px 70px;
    }
    .customer-img-wrapper {
      width: 70%;
    }
    .customer-stories-section {
      margin: 0px 74px;
      .left-scroll {
        left: -6%;
      }
      .right-scroll {
        right: -6%;
      }
    }
    .carousel-control-prev {
      left: -2%;
    }
    .carousel-control-next {
      right: -2%;
    }
  }
}

@media screen and (max-width: 1025px) {
  .customer-stories-main-container {
    .customer-support-container {
      margin: 20px 0px 50px;
    }
    .customer-support-text {
      margin-right: 24px;
    }
    .customer-stories-container {
      flex-direction: column !important;
      align-items: center;
      padding: 16px;
      .customer-stories-text {
        padding-left: 0px;
        width: 80%;
      }
      .customer-img-wrapper {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 1013px) {
  .customer-stories-main-container {
    .customer-support-footer {
      justify-content: space-between !important;
    }
  }
}

@media screen and (max-width: 876px) {
  .customer-stories-main-container {
    .left-scroll {
      left: -5%;
    }
    .right-scroll {
      right: -5%;
    }
    .main-container {
      margin: 0px 45px 50px;
    }
    .customer-img-wrapper {
      width: 60%;
      height: auto;
    }
    .customer-stories-section {
      margin: 0px 59px;
      .left-scroll {
        left: -6%;
      }
      .right-scroll {
        right: -6%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .customer-stories-main-container {
    .customer-support-container {
      max-width: none;
      flex-wrap: wrap;
      margin: auto;
      padding-bottom: 30px;
    }

    .right-scroll {
      right: -6%;
    }
    .left-scroll {
      left: -6%;
    }

    .customer-stories-section {
      .right-scroll {
        right: -8%;
      }
      .left-scroll {
        left: -8%;
      }
    }
  }
  @media screen and (max-width: 706px) {
    .customer-stories-main-container {
      .customer-stories-container {
        max-width: 100%;
      }
      .customer-stories-container .customer-img-wrapper {
        width: 80%;
        height: 200px;
        .zoom-img {
          object-fit: contain;
        }
      }
      .customer-support-text {
        margin: 0px 20px 20px 0px;
      }
      .customer-support-footer {
        padding-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 651px) {
    .customer-stories-main-container {
      .customer-support-container {
        padding: 20px 0px 30px;
      }
    }
  }
}

@media screen and (max-width: 512px) {
  .customer-stories-main-container {
    .left-scroll {
      left: -5%;
    }
    .right-scroll {
      right: -5%;
    }
    .main-container {
      margin: 0px 16px 30px;
    }
    .customer-img-wrapper {
      width: 60%;
      height: auto;
    }
    .customer-stories-section {
      margin: 0px 50px;
      .left-scroll {
        left: -14%;
      }
      .right-scroll {
        right: -14%;
      }

      .section-header {
        font-size: 25px;
      }

      .customer-support-container {
        padding: 20px 45px 30px 0px;
      }
      .customer-support-section {
        padding: 45px 45px 30px 45px;
      }
      .customer-support-text {
        font-size: 14px;
        .wh-40 {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .customer-stories-main-container {
    .customer-stories-section {
      margin: 0px 50px;
      .left-scroll {
        left: -17%;
      }
      .right-scroll {
        right: -17%;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .customer-stories-main-container {
    .customer-stories-section {
      margin: 0px 50px;
      .left-scroll {
        left: -22%;
      }
      .right-scroll {
        right: -22%;
      }
    }
  }
}
