.wardrobe-main-container {
  .zoom-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }
  .img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .img-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
  }
  .img-wrapper:hover .zoom-img {
    transform: scale(1.1);
  }
  .img-caption {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    font-family: 'Belleza', sans-serif;
    font-size: 36px;
    color: #fff;
    z-index: 1;
  }

  .view-all-btn {
    color: #cd6f00;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 6px;
    cursor: pointer;
  }
  .wardrobe-header {
    margin: 0px 108px;
  }
  .main-container {
    margin: 0px 108px 70px;
  }

  .product-title {
    font-size: 16px;
    font-weight: bold;
    color: #303030;
    margin-bottom: 2px;
    margin-top: 12px;
  }

  .right-scroll {
    top: 35%;
    right: -6%;
    cursor: pointer;
  }
  .left-scroll {
    top: 35%;
    left: -6%;
    cursor: pointer;
  }
  .product-description {
    font-size: 16px;
    color: #303030;
    margin-bottom: 10px;
  }
  .product-price {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
  }
  .discount-price {
    font-size: 16px;
    font-weight: 600;
    color: #1e1e1e;
  }
  .discount {
    font-size: 16px;
    color: #df0000;
  }
  .new-stock {
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #000;
    color: white;
    font-size: 12px;
    font-weight: 500;
  }
  .best-seller {
    padding: 5px 9px 5px 7px;
    background-color: #f14949;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-bottom-right-radius: 15px;
  }
  .wishlist-container {
    right: 12px;
    bottom: 12px;
    background: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .product-img-wrapper {
    height: 382px;
  }
  .product-img-wrapper:hover .wishlist-container {
    display: flex;
  }
}
@media screen and (max-width: 1181px) {
  .wardrobe-main-container {
    .img-grid-overlay {
      margin: 0px 30px 0px 43px;
    }
    .wardrobe-header {
      margin: 0px 60px;
    }
    .left-scroll {
      left: -5%;
    }
    .right-scroll {
      right: -5%;
    }
    .main-container {
      margin: 0px 60px 70px;
    }
  }
}
@media screen and (max-width: 1120px) {
  .wardrobe-main-container {
    .product-price {
      font-size: 12px;
    }
    .discount-price {
      font-size: 14px;
    }
    .discount {
      font-size: 14px;
    }
    .product-description {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 876px) {
  .wardrobe-main-container {
    .wardrobe-header {
      margin: 0px 45px;
    }
    .left-scroll {
      left: -5%;
    }
    .right-scroll {
      right: -5%;
    }
    .main-container {
      margin: 0px 45px 50px;
    }

    .product-img-wrapper {
      height: 310px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wardrobe-main-container {
    .right-scroll {
      right: -6%;
    }
    .left-scroll {
      left: -6%;
    }
  }
}
@media screen and (max-width: 706px) {
  .wardrobe-main-container {
    #wardrobe-prev,
    #wardrobe-next {
      display: none !important;
    }

    /* #wardrobeItems {
      display: none !important;
    } */
    #wardrobeItemsResponsive,
    #similarItemsResponsive,
    #wishlistItemsResponsive {
      display: flex;
      overflow: scroll;
      scrollbar-width: none;
    }

    .product-img-wrapper {
      display: block;
      overflow: scroll;
      height: 334px;
      width: 250px;
    }
  }
}

@media screen and (max-width: 512px) {
  .wardrobe-main-container {
    .wardrobe-header {
      margin: 0px 16px;
      justify-content: flex-start;
      .view-all-btn {
        font-size: 12px;
      }
    }
    .left-scroll {
      left: -5%;
    }
    .right-scroll {
      right: -5%;
    }
    .main-container {
      margin: 0px 16px 30px;
    }

    .section-header {
      font-size: 25px;
    }

    .collection-grid-responsive {
      .collection-img-container {
        margin-right: 10px;
      }
    }
  }
}
