:root {
  --color-light: #fff;
  --color-light-gold1: #ffb31e;
  --color-light-grey: #e0e0e0;
  --color-grey: #3d3d3d;
  --color-light-grey1: #bdbdbd;
}

.carousel-container {
  overflow: hidden;

  .carousel-inner {
    width: 100%;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .nav-link {
    padding: 0rem;
  }
  .carousel-control-icon {
    width: 40px;
    height: 40px;
    background-color: var(--color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-indicators {
    position: inherit;
    margin-top: 26px;
    margin-bottom: 40px;
    z-index: 0 !important;
  }

  .indicator {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    margin: 0 8px !important;
    background-color: var(--color-light-grey1) !important;
    padding-inline: 0px;
    border: none;
  }

  .indicator.active {
    background-color: var(--color-light-gold1) !important;
    position: relative;
  }

  .indicator.active::after {
    content: '';
    position: absolute;
    top: -3.6px;
    left: -3.4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #0a0a0a;
  }
  .carousel-left {
    width: 42%;
    height: 599px;
  }
  .carousel-left img {
    /* object-fit: cover; */
  }
  .carousel-right {
    width: 58%;
    height: 599px;
  }

  .carousel-right img {
    /* object-fit: cover; */
    /* object-fit: fill; */
  }
  .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: -58%;
    top: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--color-light);
    text-align: center;
  }
  .carousel-caption h5 {
    font-family: 'Belleza';
    font-size: 50px;
    color: #e29808;
    text-transform: uppercase;
  }
  .carousel-caption p {
    font-size: 18px;
    font-weight: 600;
  }
  .carousel-caption button {
    padding: 11px 18px;
    border: solid 1px #ffcf71;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    color: #ffcf71;
    margin-top: 10px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    z-index: 0;
  }
}
@media screen and (max-width: 1181px) {
  .carousel-container {
    .carousel-control-prev {
      left: -2%;
    }
    .carousel-control-next {
      right: -2%;
    }
  }
}

@media screen and (max-width: 1025px) {
  .carousel-container {
    .carousel-caption {
      top: 26%;
      h5 {
        font-size: 40px;
      }
      p {
        font-size: 17px;
      }
      button {
        font-size: 13px;
      }
    }
  }
}
@media screen and (max-width: 887px) {
  .carousel-container {
    .carousel-caption {
      top: 24%;
      h5 {
        font-size: 35px;
      }
      p {
        font-size: 16px;
      }
      button {
        font-size: 11px;
      }
    }
  }
}
@media screen and (max-width: 876px) {
  .carousel-container {
    .carousel-control-prev {
      left: -2%;
    }
    .carousel-control-next {
      right: -2%;
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel-container {
    .carousel-img-container {
      min-height: 600px;
      flex-direction: column-reverse;
    }
    .carousel-left {
      width: 100%;
      height: 220px;
      object-fit: contain;
    }
    .carousel-right {
      width: 100%;
      height: 380px;
      object-fit: fill;
    }
    .carousel-item img {
      /* object-fit: cover; */
      object-fit: fill;
    }
    .carousel-caption {
      bottom: 7%;
      right: 0;
      left: 0;
      top: auto;
    }
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
    .carousel-indicators {
      position: absolute;
      margin-bottom: 10px;
    }
    .indicator.active::after {
      border: 1px solid var(--color-light);
    }
  }
}

@media screen and (max-width: 512px) {
  .carousel-container {
    .carousel-control-prev {
      left: -2%;
    }
    .carousel-control-next {
      right: -2%;
    }
    .carousel-img-container {
      min-height: 450px;
      flex-direction: column-reverse;
    }
    .carousel-left {
      width: 100%;
      height: 180px;
      object-fit: contain;
    }
    .carousel-right {
      width: 100%;
      height: 270px;
      object-fit: fill;
    }
    .carousel-caption {
      padding-bottom: 14px;
      button {
        margin-top: 10px;
      }
    }
  }
}
