.search div#productList > div > div {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    padding: 0 15px 0 15px;
}

.search .row {
    margin-left: 0;
    margin-right: 0;
}

.search .collection-product-container {
    .product-container {
        margin-bottom: 40px;
        padding: 0 10px 0 10px;
    }
}

.search .breadcrumb-container {
    margin: 0px 0 0 24px;
}

.image-title-section {
    text-align: left;
}

.load-more-align-center {
    text-align: center !important;
}

.empty-search-container {
    .empty-search-section {
        width: 402px;
        height: auto;
        margin: 110px 0px 141px;
        text-align: center;
        .empty-img {
            width: 169.6px;
            height: 152px;
            margin: 0 auto;
        }
        .header {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 6px;
            color: #303030;
            justify-content: center !important;
        }

        .content {
            margin-bottom: 24px;
            font-size: 16px;
            color: #303030;
            text-align: center;
        }

        .back-to-home {
            padding: 11px 22px;
            background-color: #000;
            border: none;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
        }
    }
}

@media screen and (max-width: 905px) {
  .search .row>* {
    padding: 0;
  }
  .search div#productList > div > div {
    padding: 0 4px 0 4px;
  }
} 